.modal-backdrop-gu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.availability-item-g.card {
    border: 2px solid var(--clr-gray-light);
    border-radius: var(--rad-med);
    padding: 1rem 2.5rem 1rem 1rem;
}

.content-list-g li {
    margin: 1rem 0 1rem 0;
}
.availability-item-g {
    display: flex;
    flex-direction: column;
}

.availability-g ul.content-list-g {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
}

ul.content-list-g {
    max-height: 30rem;
    overflow-y: auto;
}

span.date-g {
    color: #007d7e
}

.modal-content-g h3 {
    margin-top: 2rem;
}