/* || Common Modal Components*/

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-container {
    width: fit-content;
    max-width: 58rem;
    height: 80vh;
    overflow-y: auto;
    border-radius: var(--rad-med);
    background-color: white;
    box-shadow: var(--shadow-lrg);
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    z-index: 3;
}

/* Main Modal Content Styles */

section.modal-content {
    flex: 2 0;
    min-width: 24rem;
    height: inherit;
    margin-right: -2rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    z-index: 4;
}

section.modal-content .image-section {
    flex-grow: 1;
    background-color: var(--clr-gray-mid-dark);
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.modal-content .info-section {
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.info-section article.property-info {
    margin: 1rem 2rem;
}

/* Action Sidebar Styles */

.property-info h3 {
    color: var(--clr-purple-primary);
}

aside.modal-action {
    flex: 1 0;
    min-width: 22rem;

    margin-left: -2rem;
    height: inherit;
    background-color: white;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    box-shadow: var(--shadow-med-left);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    z-index: 5;
}
aside.modal-action.with-action-widget {
    overflow: hidden auto;
}
@media screen and (max-width: 46rem) {
    section.modal-content {
        height: auto;
        margin-right: unset;
    }
    section.modal-content .image-section {
        padding-right: unset;
    }
    section.modal-content .info-section {
        padding-right: unset;
    }
    aside.modal-action {
        margin-left: 0;
        height: auto;
        box-shadow: unset;
    }
}

aside.modal-action button.btn-modal-close,
button.del-img {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 6;
    padding: 0.5rem;
    border-radius: 50%;
}

aside.modal-action .modal-header {
    flex-shrink: 0;
    width: 100%;
    min-height: 6.5rem;
    padding: 2rem;
    background-color: var(--clr-purple-primary);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}
aside.modal-action.with-action-widget .modal-header {
    padding-bottom: 8rem;
}

aside.modal-action .item-container {
    flex: 1;
    overflow-y: auto;
    padding: 1rem 0 2rem 0;
}
aside.modal-action.with-action-widget .item-container {
    overflow-y: visible;
}

/* Action Widget (Green) Styles */

div.action-widget {
    background-color: var(--clr-green-bg);
    color: var(--clr-gray-dark);
    width: 90%;
    padding: 1rem;
    border-radius: var(--rad-med);
    box-shadow: var(--shadow-med);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 0.5rem;
    position: relative;
    top: -7rem;
    margin-bottom: -7rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
}

div.action-widget * {
    max-width: 100%;
}

div.action-widget h3 {
    padding-bottom: 0.5rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5rem;
}

div.action-widget h4 {
    margin-top: 0.5rem;
}

aside.modal-action article.action-details {
    margin: 2rem 1rem;
}

aside.modal-action article.action-details h4 {
    margin-bottom: 1rem;
    color: var(--clr-purple-primary);
}

div.action-widget button.action-btn {
    margin-top: 1rem;
}

/* || Guest: Reservation Request */

/* Pricing Table */

div.action-widget table.prices {
    width: auto;
    align-self: flex-end;
}

div.action-widget table.prices th,
div.action-widget table.prices td {
    padding: 0.25rem 0.5rem;
    text-align: right;
}

div.action-widget table.prices .price-total {
    font-size: var(--font-size-h4);
}
div.action-widget table.prices .price-total td {
    color: var(--clr-green-dark);
}

/* Booked Info Widget */

div.action-widget ul.booked-info {
    width: 100%;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 0.5rem;
}

/* Host Info Card */

div.host-info-card {
    width: 100%;
    box-shadow: var(--shadow-sml);
    border-radius: var(--rad-sml);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    column-gap: 1rem;
}

div.host-info-card span.avatar-container {
    flex-grow: 0;
    flex-shrink: 0;
    height: 6rem;
    width: 6rem;
    min-height: 0;
    min-width: 0;
}

div.host-info-card span.avatar-container img {
    min-height: 0;
    min-width: 0;
}

div.host-info-card ul.bio {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 0.5rem;
    padding: 0.5rem;
}

div.host-info-card ul.bio li.name {
    font-weight: 600;
    font-size: larger;
}

div.host-info-card ul.bio a:hover,
div.host-info-card ul.bio a:focus {
    border-bottom: 1.5px solid var(--clr-purple-primary);
}

/* || Host: Property Creation Modal */

aside.modal-action .input-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

section.modal-content .image-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    justify-items: center;
    gap: 1.5rem;
    padding: 4.5rem 3.5rem;
    overflow: auto;
}

.image-selector img.property-img {
    width: 14rem;
    height: 8.5rem;
}

.pos-relative {
    position: relative;
}

.modal-content h3 {
    margin-top: 2rem;
}

button.send-arrow {
    padding: 0.5rem;
    border-radius: 1.5rem;
}

.input-container .availability-item input {
    width: 100%;
}

button.action-btn.create-listing {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: var(--rad-med);
    box-shadow: var(--shadow-sml);
    overflow: hidden;
    z-index: 7;
}
button.action-btn.create-listing:hover {
    box-shadow: var(--shadow-med);
}
button.action-btn.create-listing img {
    width: inherit;
    height: inherit;
    min-width: none;
    min-height: none;
}

@media screen and (max-width: 860px) {
    .modal-content .image-selector {
        grid-template-columns: 1fr;
    }
    .image-selector img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .modal-content .image-selector {
        height: fit-content;
        overflow: visible;
        padding: 1.5rem;
    }
}

/* Host: Existing Property Modal */

h3.request-heading {
    color: var(--clr-purple-primary);
    margin-top: 1.5rem;
}

.modal-action .request-card {
    height: fit-content;
    width: 100%;
    border: 2px solid var(--clr-gray-light);
    border-radius: var(--rad-sml);
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-shadow: var(--shadow-sml);
}

.request-card.host-comment {
    margin-top: 0.5rem;
    margin-left: auto;
    width: 80%;
    background-color: var(--clr-gray-light);
}

.host-comment .profile-img {
    margin-left: 0;
}

.request-card-content {
    padding: 0.5rem 0;
    display: flex;
    align-items: stretch;
}

.request-card-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.request-card-info p {
    margin: 0;
}

.request-card-info p.price {
    color: var(--clr-purple-primary);
    font-weight: 700;
}

.rating-container {
    display: flex;
}

.request-card .btn-container {
    display: flex;
    justify-content: space-between;
}

.request-card .action-btn {
    border-radius: var(--rad-med);
    padding: 0.3rem 1rem;
    color: var(--clr-gray-mid-dark);
    font-weight: 700;
}

.request-card .action-btn.gray-light {
    background-color: var(--clr-gray-light);
}

.request-card .user-name {
    font-size: var(--font-size-reg);
}

img.profile-img {
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
    margin-left: 1rem;
}

.request-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-block: 0.5rem;
}

.request-container summary.comments-dropdown {
    background-color: white;
    /* border: 2px solid var(--clr-gray-light); */
    box-shadow: var(--shadow-sml);
}

textarea.description-text {
    width: 100%;
    height: 10rem;
    resize: none;
}

details.reply-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comment-card {
    background-color: var(--clr-purple-bg);
    border-radius: var(--rad-med);
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0.25rem;
}

.comment-card .comment-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 1rem;
    padding-right: 1rem;
}

.comment-card.main-comment .profile-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

span.date {
    color: var(--clr-green-dark);
}

span.price {
    color: var(--clr-purple-primary);
}

.reply-input-container {
    display: flex;
}

.reply-input-container textarea {
    width: 100%;
    border-radius: var(--rad-sml);
    resize: none;
    padding: 0.5rem;
}

.comment-card.reply {
    width: 80%;
    margin-left: auto;
    margin-bottom: 0.5rem;
}

.comment-card.reply .profile-img {
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
}

.reply.host-reply {
    background-color: var(--clr-gray-light);
}

li .past-guest-card {
    min-width: 14rem;
    background-color: var(--clr-purple-bg);
    border-radius: var(--rad-med);
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 0.5rem 1rem;
}

.past-guest-card .guest-info {
    display: flex;
    align-items: center;
}

.past-guest-card .rating-container {
    padding: 0 0 0.5rem 0.5rem;
}

.past-guest-card .profile-img {
    margin-left: 0;
}

.past-guest-card.has-ratings,
.request-card.has-ratings,
.comment-card.has-ratings {
    border: none;
    border-radius: var(--rad-med) var(--rad-med) var(--rad-med) 0;
}

summary.comments-dropdown {
    background-color: var(--clr-purple-bg);
    width: fit-content;
    padding: 0.5rem 1rem;
    text-align: center;
    list-style-type: none;
    border-radius: 0 0 var(--rad-med) var(--rad-med);
    font-weight: 700;
    cursor: pointer;
}

details[open] summary.comments-dropdown::after {
    content: attr(comments-open);
}

details:not([open]) summary.comments-dropdown::after {
    content: attr(comments-hidden);
}

ul.content-list {
    max-height: 30rem;
    overflow-y: auto;
}
ul.content-list.content-list-comments {
    margin-top: 0.5rem;
    box-shadow: var(--shadow-sml);
    border: 1px solid var(--clr-gray-light);
    border-radius: var(--rad-med);
    padding: 0.5rem;
}

.content-list li {
    margin: 1rem 0 1rem 0;
}

div.amenity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
}

.amenity-container .amenity-tag {
    border: 2px solid var(--clr-gray-dark);
    padding: 0.25rem 0.5rem;
    border-radius: var(--rad-med);
    font-weight: 700;
    margin: 0 1rem 0.5rem 0;
    display: flex;
    align-items: center;
}

.amenity-tag .action-btn {
    padding: 0;
    margin-right: 0.5rem;
}

.availability ul.content-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
}

.availability-item {
    display: flex;
    flex-direction: column;
}

.availability-item p {
    margin: 0;
    font-weight: 700;
}

.availability-item.card {
    border: 2px solid var(--clr-gray-light);
    border-radius: var(--rad-med);
    padding: 1rem 2.5rem 1rem 1rem;
}

div.add-availability {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    width: min-content;
}

.availability-item button.action-btn,
.add-availability button.action-btn {
    margin-right: 0;
}

div.save-changes {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pos-relative button {
    position: absolute;
    z-index: 6;
    padding: 0.5rem;
    border-radius: 50%;
}

.pos-relative button.del-img {
    top: -1.7rem;
    right: -0.5rem;
}

.pos-relative button.del-item {
    top: 0.1rem;
    right: 0.1rem;
}
