button.btn-map {
    height: 33px;
    background-image: url("/src/assets/icons/map-pin.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 45px;
    background-color: var(--clr-gray-dark);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: none;
}

input[type="text"].rounded-r,
input[type="number"].rounded-r {
    position: relative;
    font-size: 14.5px;
    border: 2px solid var(--clr-gray-dark);
    background-color: transparent;
    padding-left: 1rem;
    border-radius: 0%;
    border-left: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 33px;
}
